---
---

@import index, font, basic, layout, classes

html
  background: $surface-dim
  padding: 0 calc(38% - 22em)

body
  border-left: 1px solid $color-border
  border-right: 1px solid $color-border

body > header, body > footer
  background: $surface-container-low
  color: $color-text

body > header
  border-bottom: 1px solid $color-border

body > footer
  border-top: 1px solid $color-border

@media (min-width: 32em)
  body > header, body > article, body > footer
    padding: 1.75em calc(22% - 6em)

nav a.selected
  color: $color-text
  font-weight: 600
  border-bottom-color: $color-text
